<h2>Users</h2>
<hr style="border-top: 1px solid;">
<button class="dropdown_btn addBtn" type="button" routerLink="add">
    Add User
 </button>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Username</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td style="white-space: nowrap">
                <button class="dropdown_btn editBtn" type="button" routerLink="edit/{{user.id}}">
                    Edit
                 </button>

                <button (click)="deleteUser(user.id)" class="dropdown_btn deleteBtn" type="button" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                 </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>